/* font family  */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
    background: #F6F6F1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    padding: 0 10px 0px 0px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.navbar h2 {
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    margin: 0%;
}

.navbar h5 {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}

/* photo section start  */
.photo-text{
    position: relative;
}
.photo-section {
    background-image: url(images/gideon-hezekiah-FYxhALJcywI-unsplash\ 1.png);
    background-repeat: no-repeat,
        repeat;
    background-position: center;
    position: absolute;
    width: 418px;
    height: 634px;
    left: 504px;
    top: 132px;
    justify-content: center;
    align-items: center;
}

.photo-section .bg {
    position: absolute;
    width: 360px;
    height: 652px;
    left: -117px;
    top: 0px;
    background: rgba(217, 217, 217, 0.33);
    border: 1px solid rgba(0, 0, 0, 0.17);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Text area  */
.text-area h2{
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.big-area{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border-radius: 100%;
    position: relative;
}
.big-area{
    
}