/* font family  */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
    background: #F6F6F1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    padding: 0 10px 0px 0px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.navbar h2 {
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    margin: 0%;
}

.navbar h5 {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
/* photo and text section start  */
.main-photo{
    border: 4px solid rgb(218, 64, 102);
    width: 670px;
    height: 558px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.shadow-photo{
    background-image: url(images/gideon-hezekiah-FYxhALJcywI-unsplash\ 1.png);
    background-color: #cccccc;     
    height: 50vh; 
    width: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}